<html>
	<head>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
		<!--http://blog.jqueryui.com/2011/05/jquery-ui-1-9-milestone-5-tabs-redesign/-->
		<!--http://37signals.com/svn/posts/2609-customizing-web-forms-with-css3-and-webkit-->
		<!--http://pkario.blogspot.com/2010/09/css3-ribbons.html-->
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<title>Essential Tracker</title>
	</head>
	<body>
		<section id="page">
			<header> <!--Defining the header section of the page with the appropriate tag -->            
                <hgroup>
                    <h1>Essential Tracker</h1>
                </hgroup>            
            </header>
			<section id="articles">
                <div class="line"></div>
                <article id="article1"> 
                    <h2>Title 1</h2>                    
                    <div class="line"></div>                    
                    <div class="articleBody clear">                        
                        <p>Text here!
                    </div>
                </article>
                <article id="article2"> 
                    <h2>Title 2</h2>                    
                    <div class="line"></div>                    
                    <div class="articleBody clear">                        
                        <p>Text here!
                    </div>
                </article>
				<article id="article3"> 
                    <h2>Title 3</h2>                    
                    <div class="line"></div>                    
                    <div class="articleBody clear">                        
                        <p>Text here!
                    </div>
                </article>
			</section>
			<footer> 
	           <div class="line"></div>
	           <p>Copyright 2011 - essential-tracker.com</p>
	        </footer>
		</section>
	</body>
</html>